<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="title">INCIDENT MANAGEMENT</div>
    <div class="tab"><a href="/">Create Channel</a></div>
  </div>
  <div class="main">
    <form class="formContainer" action="#" th:action="@{/channel}" method="post">
      <div class="formRow">
        <label>Team:</label>
        <select size="5" name="team">
          <option th:each="team: ${teams}" th:value="${team.id}" th:text="${team.displayName}">
          </option>
        </select>
      </div>
      <div class="formRow">
        <label>Users:</label>
        <select size="5" name="users" multiple>
          <option th:each="user: ${users}" th:value="${user.userPrincipalName}"
                  th:text="${user.userPrincipalName}">
          </option>
        </select>
      </div>
      <div class="formRow">
        <label>Channel name:</label>
        <input type="text" value="" name="channelName">
      </div>
      <div class="formRow">
        <input id="submit" type="submit" value="Create Channel">
      </div>
    </form>
  </div>
</div>
</body>
</html>