<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="title">INCIDENT MANAGEMENT</div>
    <div class="tab"><a href="create">Create Channel</a></div>
    <div class="tab"><a href="update">Update Channel</a></div>
  </div>
  <div class="main">
    <form class="formContainer">
      <div class="formRow">
        <label>Incident channel:</label>
        <select></select>
      </div>
      <div class="formRow">
        <label>Update message:</label>
        <input type="text" value="Enter an update">
      </div>
      <div class="formRow">
        <input type="button" value="Status: Issue being investigated">
      </div>
      <div class="formRow">
        <input type="button" value="Status: Issue has been diagnosed">
      </div>
      <div class="formRow">
        <input type="button" value="Status: Issue is being resolved">
      </div>
      <div class="formRow">
        <input type="button" value="Estimated time to resolution: 10 mins">
      </div>
      <div class="formRow">
        <input type="button" value="Estimated time to resolution: 30 mins">
      </div>
      <div class="formRow">
        <input type="button" value="Estimated time to resolution: 1 hour">
      </div>
      <div class="formRow">
        <input type="button" value="Estimated time to resolution: 3 hours">
      </div>
      <div class="formRow">
        <input type="button" value="Estimated time to resolution: 6+ hours">
      </div>
      <div class="formRow">
        <input type="button" value="Estimated time to resolution: Unknown">
      </div>
    </form>
  </div>
</div>
</body>
</html>